.App{
  background-color: linear-gradient(180deg, #040d21 0%, #040d21 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
 }





/* NAV  */
.inner{
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title1{
  color: aliceblue;
  font-size: 44px;
}
.nav{
  width: 100vw;
  height: 100px;
  background-color: #060D22;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav span{
  font-size: 34px;
}
.emoj img{
  width: 60px;
  height: 60px;
}

.form-input{
  height: auto;
  background-color: #040d21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20% 100px 20%;
  
  
}

.body-input hr{
  color: aliceblue;
  width: 80%;
}

.input-Label{
  color: white;
  font-size: 24;
  margin: 20px;
}

.name-input-area{
  box-sizing: border-box;
  width: 460px;
  height: 37px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #EB5746;
  border-radius: 15px;
  margin: 20px;
}

.value-input-area{
  box-sizing: border-box;
  width: 190px;
  height: 37px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #EB5746;
  border-radius: 15px;
  margin: 20px;
}

.submit-btn{

width: 460px;
height: 53px;
background: #EB5746;
border-radius: 15px;
margin: 20px;
}

.dual-input{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.dual-input-group{
display: flex;
flex-direction: column;
}